/* основной цвет текста primary  #757575 */
/* вторичный цвет текста secondary #212121 */
/* цвет акцента и для текста logo "Web" #2196F3  */
/* цвет текста, акцент btn-filter #FFFFFF */
/* цвет текста футера tel. and mail  rgba(255, 255, 255, 0.6); */
/* цвет текста header logo "Studio" #000000 */

/* основной цвет фона страниц #FFFFFF */
/* вторичный цвет фона (секция наша команда) #F5F4FA */
/* цвет фона героя и футера #2F303A */

:root {
	--primary-text-color: #757575;
	--secondary-text-color: #212121;
	--primary-white-color: #ffffff;
	--accent-color: #2196f3;
	--logo-text-color: #000000;
	--footer-contacts-color: rgba(255, 255, 255, 0.6);
	--secondary-bg-color: #2f303a;
	--section-bg-color: #f5f4fa;
}

body {
	background-color: var(--primary-white-color);
	color: var(--primary-text-color);
}

ul,
a {
	list-style: none;
	text-decoration: none;
}

/* logo header */
.logo {
	color: var(--accent-color);
}

.logo-black {
	color: var(--logo-text-color);
}

/* site-nav */
.site-nav .link {
	color: var(--secondary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--accent-color);
}

.site-nav .link.current {
	color: var(--accent-color);
}

/* site-contacts */
.site-contacts .link {
	color: var(--primary-text-color);
}
.site-contacts .link:hover,
.site-contacts .link:focus {
	color: var(--accent-color);
}

/* Hero */
.hero {
	background-color: var(--secondary-bg-color);
	color: var(--primary-white-color);
}

.button.hero {
	background-color: var(--accent-color);
	color: var(--primary-white-color);
}

/* SECTION */
.section .section-title {
	color: var(--secondary-text-color);
}

.section.team {
	background-color: var(--section-bg-color);
}
.team .section-subtitle {
	color: var(--secondary-text-color);
}

/* FOOTER */
.footer {
	background-color: var(--secondary-bg-color);
}

/* logo footer */
.logo-white {
	color: var(--primary-white-color);
}

/* address */
.address-text {
	color: var(--primary-white-color);
}

.address-list .item {
	color: var(--footer-contacts-color);
}

.address-list .item:hover,
.address-list .item:focus {
	color: var(--accent-color);
}

/* CSS Portfolio */
.button.filter {
	color: var(--secondary-text-color);
}
.button.filter:hover,
.button.filter:focus {
	background-color: var(--accent-color);
	color: var(--primary-white-color);
}
